@font-face {
	font-family: 'Fira Code';
	src: url('fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Space Mono';
	src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
