@import 'reveal.js/css/reveal.scss';
@import 'theme/euricom.scss';

.euricom {
	color: $brightGreen;
}

.list-type-none {
	list-style-type: none;
}

.ligature {
	font-family: 'Fira Code', monospace;
}

#branding-logo {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: 300px;
}

@media screen and (max-width: 800px) {
	#branding-logo {
		display: none;
	}
}
